* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box
}

:root {
    --w1: calc((100% - 26px * 2 - 24px *(12 - 1)) / 12);
}


.w1 {
    width: var(--w1)
}

.c1 {
    left: 26px
}

.c2 {
    left: calc(26px + var(--w1))
}

.c3 {
    left: calc(100px + var(--w1))
}

/* lenis */

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body,
html {
    user-select: none !important;
    overscroll-behavior-y: contain;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-size: 11px
}

main {
    display: block
}

body {
    background: #292929;
    color: #fff;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    margin: 0;
}

canvas {
    outline: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

::-webkit-scrollbar {
    width: 5px;
    width: 0
}


/* header */

.header {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0 35px;
    z-index: 21;
    mix-blend-mode: difference;
    z-index: 50;
}

.header__item {
    position: absolute;
    pointer-events: none;
}

.logo {
    left: 50%;
    right: 50%;
}

.about {
    position: fixed;
    z-index: 30;
    top: 35px;
    right: 35px;
    text-align: right;
    cursor: pointer !important;
    pointer-events: auto;
    transition: .3s linear;
    -webkit-tap-highlight-color: transparent;
    border-bottom: 1px solid white;
    width: auto;
}

.close {
    position: fixed;
    z-index: 50;
    top: 35px;
    right: 35px;
    text-align: right;
    cursor: pointer;
    pointer-events: auto;
    transition: .3s linear;
    -webkit-tap-highlight-color: transparent;
    border-bottom: 1px solid rgb(0, 0, 0);
    width: auto;
    color: rgb(0, 0, 0);
    display: none;
}

.scroll {
    position: absolute;
    bottom: 35px;
    display: flex;
    z-index: 20;
}

.scroll-line {
    position: absolute;
    bottom: 35px;
    right: 35px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: column;
    align-items: center;
    width: 32px;
    display: flex;
    z-index: 20;
}

.scroll_line {
    height: 200px;
    width: 1px;
    background-color: #fff;
}


/* slider */

.slider-project {
    font-size: 1.2rem;
    font-variation-settings: "wght" 500;
    text-transform: uppercase;
    transform-origin: left center;
}

.slider-project__container {
    transform: translate(50%, 50%)
}

.slider-project__description {
    margin-top: 5px;
}

.slider-project__description {
    opacity: .5;
}

/* slider prosjects */

#projects_info,
#about {
    width: 100%;
    height: 100lvh;
    z-index: 40;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    background-color: white;
    display: none;
    color: black;
}

.projectsImg {
    object-fit: cover;
}

/* Hero section */

.hero {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 100lvh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 20;
}

.hero__title {
    margin-bottom: 26px;
    text-transform: uppercase;
    margin: 0;
    font-variation-settings: "wght" 500;
    font-weight: 400;
}

.creative {
    font-family: "Bonheur Royale", cursive;
    font-size: min(13vw, 19vh);
    line-height: .8;
    position: relative;
}

.developer {
    font-family: "Bebas Neue", sans-serif;
    font-size: min(12vw, 18vh);
    line-height: .8;
    position: relative;
}

.hero__txt {
    display: flex;
    flex-direction: column;
    position: relative;
}

.hero_txt {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 40px;
}

.hero__description {
    max-width: 80%;
    width: 600px;
    padding-right: 35px;
    padding-left: 10px;
    box-sizing: border-box;
}

.txt {
    text-transform: uppercase;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0px;
}

/* projects page */


.projects {
    height: 100lvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}

/* footer page */

.footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

/* About */

#container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    pointer-events: none;
}

.about_wrapper {
    width: 100%;
    height: 100%;
}

.about_section {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about-content {
    position: relative;
    bottom: 170px;
}

.about_flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: nowrap;

}

.text_about {
    max-width: 80%;
    width: 500px;
    position: relative;
    padding-right: 25px;
    box-sizing: border-box;
}

.about_headings {
    font-size: 27vh;
    font-weight: 500;
    line-height: .85;
    font-family: "Bebas Neue", sans-serif;
    position: relative;
    margin: 0;
    width: fit-content;
}

.about_headings2 {
    font-size: 25vh;
    font-weight: 500;
    line-height: .85;
    font-family: "Bebas Neue", sans-serif;
    position: relative;
    margin: 0;
    width: fit-content;
}

.contact_info {
    display: flex;
    top: 60px;
    position: relative;
    gap: 100px;
}

.icons {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.icons:hover {
    text-decoration: line-through;
    cursor: pointer !important;
}

.icons-txt {
    font-size: small;
    padding: 10px;
    font-weight: 500;
}

.title-w {
    width: 100%;
    display: flex;
    position: relative;
}

.title-heading {
    white-space: nowrap;
    display: inline-block;
    position: relative;
}

.rolling_h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 25em;
    font-weight: 400;
    line-height: .8;
    color: black;
    font-family: "Bebas Neue", sans-serif;
}

.title_play {
    width: 100%;
    position: absolute;
    bottom: 0rem;
}

.title-single {
    flex: none;
    margin: 0;
    padding: 0;
    position: relative;
}

@media (max-width: 1380px) {
    .hero__description {
        width: 550px;
        padding-right: 10px;
    }
}

@media (max-width: 1231px) {
    .hero__description {
        width: 450px;
    }
}

@media (max-width: 1005px) {
    .hero__description {
        width: 400px;
    }
}

@media (max-width: 1151px) {

    .slider-project__description,
    .slider-project__title {
        max-width: 170px
    }
}

@media (max-width: 897px) {
    .hero__description {
        width: 365px;
        padding-right: 10px;
    }

    .about_flex {
        justify-content: start;
        flex-wrap: wrap;
    }

    .about-content.c2 {
        left: 26px !important;
    }

    .text_about {
        max-width: 100%;
        width: 100%;
    }


}

@media (max-width: 800px) {
    .hero_txt {
        flex-wrap: wrap;
        justify-content: start;
    }

    .hero_txt {
        margin-top: 10px;
    }

    .hero__description {
        width: 100%;
        max-width: 540px;
        padding-right: 35px;
        padding-left: 0px;
        box-sizing: border-box;
    }
}

@media (max-width: 700px) {

    .slider-project__description,
    .slider-project__title {
        max-width: 150px
    }

}

@media (max-width: 640px) {

    .hero .c2 {
        left: 26px
    }

    .header_item .c1 {
        left: 50px !important;
    }

    .header_item {
        right: 26px;
    }

    .hero__txt {
        width: calc(100% - 26px * 2)
    }

    .hero__title {
        font-size: 14vw
    }
}

@media (max-width: 550px) {

    .slider-project__description,
    .slider-project__title {
        max-width: 140px
    }

    .hero__description {
        width: 100%;
        max-width: 600px;
        box-sizing: border-box;
    }

    .scroll_line {
        height: 100px;
    }
}

@media (max-width: 450px) {

    .slider-project__description,
    .slider-project__title {
        max-width: 130px
    }

    .hero__txt {
        padding-right: 35px;
    }
}