html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box
}

html {
    font-size: 10px
}

html,
body {
    overscroll-behavior-y: contain;
}

body {
    background: #131313;
    color: #fff;
    font-family: _General, Arial, Helvetica, sans-serif;
    overflow-x: hidden
}

.label {
    font-family: Arial, sans-serif;
    padding: 4px 8px;
    border-radius: 4px;
}


canvas {
    outline: none;
    touch-action: none !important;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10
}